* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #4f5bff, #f129c6);
  color: white;
  font-family: "Domine", sans-serif;
  min-height: 100vh;
}

.header {
  text-align: center;
  font-size: 30px;
  line-height: 10;
}

.timer {
  /* justify-content: center; */
  /* align-items: center; */
  text-align: center;
}

.time {
  margin-bottom: 20px;
}

.customizable {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.hours-part {
  display: flex;
  margin: 5px;
}

.minutes-part {
  display: flex;
  margin: 5px;
}

.seconds-part {
  display: flex;
  margin: 5px;
}

.start-button {
  /* padding: 1px 15px;
  margin-right: 15px; */
  height: 50px;
  width: 100px;
  background-color: rgb(112, 2, 214);
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.pause-button {
  /* padding: 1px 15px;
  margin-right: 15px; */
  height: 50px;
  width: 100px;
  background-color: rgb(112, 2, 214);
  border-radius: 50%;
  cursor: pointer;
  color: white;
}

.stop-button {
  /* padding: 1px 15px;
  margin-right: 15px; */
  height: 50px;
  width: 100px;
  background-color: rgb(112, 2, 214);
  border-radius: 50%;
  cursor: pointer;
  color: white;
}
